@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#fff;
}
li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #242524;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;}

.logo {
    cursor: pointer; color: #242524; font-family: "orginal surfer";
    font-weight:400;
    font-size: 60px;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #87989c;
}
button{
    padding: 9px 25px;
    background-color: #87989c;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{background-color: #fff;
}
/*contact form */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:" poppins" ,sans-serif;
}
body{
    min-height: 100vh;
    display: flexbox;
    justify-content: center;
    align-items: center;
    
}
.contect-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contect-info{
    color:#fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}
.contect-info i{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info,.contact-form{
    flex: 1;
}
.contact-form h2{
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-form,.text-box{
    background:rgb(238, 111, 151);
    color: #fff;
    border: none;
    width:clac(50%,10px) ;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(238, 111, 151);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .text-box:first-child{
    margin-right: 15px;
}
.contact-form textarea{
    background: rgb(238, 111, 151);
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(238, 111, 151);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn{
    float: right;
    background-color:rgb(238, 111, 151); ;
    color:brgb(238, 111, 151);
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 00.3s;
    
}
.contact-form .send-btn:hover{
    background: #dae0e4;

}
@media screen  and (max-width:950px){
    .contect-section{
        flex-direction:  column;
    }
    .contact-info , .contact-form{
        margin: 30px 50px;
    }
    .contact-form h2{
        font-size: 30px;
    }
    .contact-form .text-box{
        width: 100%;
    }
    
}

.alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}
.alert-error{ z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;}